.header {
    background-color: $black;

    .header-content {
        padding: $separation / 2 0;

        .menu-logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    h1 {
        color: $white;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: $slim;
        span {
            font-weight: $bold;
        }
    }
}

.main-nav {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0.3s ease-in-out, opacity 0.3s linear,
        height 0.8s linear;
    a {
        display: block;
        color: $white;
        font-size: 2rem;
        text-align: center;
        padding: 2rem 0;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: $white;
            z-index: 1;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.5s ease-in-out;
        }

        &:hover::before {
            transform: scaleX(1);
        }
    }
    @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        opacity: 1;
        visibility: visible;

        a {
            padding: 1rem;
        }
    }
}

.mobile-menu {
    @include tablet {
        display: none;
    }
    img {
        width: 5rem;
    }
}

.show-nav {
    visibility: visible;
    opacity: 1;
    height: auto;
}
